*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app-body{
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    background: linear-gradient(rgba(8, 8, 8,1.9),rgba(79, 21, 21, 0.8)),url("https://images.shiksha.com/mediadata/images/articles/1589280915phpQ72mwk.jpeg");
    background-size: 100% 100%;
}